<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="/css/vendor/bootstrap.css" rel="stylesheet">
        <link href="/css/site.css" rel="stylesheet">

        <script defer src="/js/vendor/jquery.min.js"></script>
        <script defer src="/js/vendor/popper.min.js"></script>
        <script defer src="/js/vendor/bootstrap.min.js"></script>
        <script defer src="/js/vendor/Chart.min.js"></script>

        <script defer src="/js/site.js"></script>
    </head>
    <body>
        <div class="container mt-5">
            <h1>super awesome stuff</h1>
            <div class="row">
                <div class="col-6 mt-3">
                    <canvas id="distHttpMeths" height="400" width="400">
                </div>
                <div class="col-6 mt-3">
                    <canvas id="reqsPerMin" height="400" width="400">
                </div>
            </div>
            <div class="row">
                <div class="col-6 mt-3">
                    <canvas id="distResCodes" height="400" width="400">
                </div>
                <div class="col-6 mt-3">
                    <canvas id="dist200BodySize" height="400" width="400">
                </div>
            </div>
        </div>

    </body>
</html>
